* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url("bckgr2.jpg");
}

#field {
  position: relative;
  background-image: url("surface.jpg");
  width: 900px;
  height: 600px;
  top: 7%;
  left: 0%;
  right: 0%;
  border: 3px double greenyellow;
  margin-right: auto;
  margin-left: auto;
}

.segment {
  position: absolute;
  background-color: greenyellow;
  width: 30px;
  height: 30px;
  left: 50%;
  top: 10%;
  box-sizing: border-box;
  border: 1px double black;
}

.meal {

  position: absolute;
  background-color: blueviolet;
  box-sizing: border-box;
  border: 1px double rebeccapurple;
  width: 30px;
  height: 30px;
  left: 40%;
  top: 10%;

}

.contentBox {

  position: relative;
  width: 900px;
  height: 50px;
  background-color: gray;
  color: white;
  text-align: center;
  padding-top: 13px;
  top: 3vh;
  box-sizing: border-box;
  border: 3px ridge violet;
  font-weight: 700;
  margin-right: auto;
  margin-left: auto;

}