* {

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body {

    background-color: black;
    width: 100vw;
    height: 100vh;
}

#field {

    position: relative;
    background-color: gray;
    width: 80%;
    height: 80%;
    top: 5%;
    left: 10%;
}

.segment {

    position: absolute;
    background-color: green;
    width: 3%;
    height: 4%;
    left: 40%;
    top: 10%;
}